.form-div {
  display: block;
  text-align: center;
  padding: 5rem 0 5rem 0;
}

.form {
  width: 20rem;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  text-align: left;
}

.form-button {
  width: 100%;
  padding: 0.5rem 1rem;
  font-size: 1.25rem;
  border-radius: .3rem;
  color: #fff;
  background-color: #23245d;
  border-color: #23245d;
}