html {
  font-size: 62.5%;
}

body {
  padding: 10px;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 1.5rem;
}

h1{
  font-size: 3.5rem;
  text-transform: uppercase;
  color: #23245d;

}

h2{
  font-size: 3rem;
  text-transform: uppercase;
  color: #23245d;

}

h3{
  font-size: 2.5rem;
  text-transform: uppercase;
  color: #23245d;

}

h4{
  font-size: 2.3rem;
  text-transform: uppercase;
  color: #23245d;

}

h5{
  font-size: 2.0rem;
  text-transform: uppercase;
  color: #23245d;

}


.container-fluid ul {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
  }
  
  .container-fluid ul > * {
    flex-grow: 1;
    flex-basis: 0;
    padding: 1rem;
  }

  .b-example-divider {
    height: 3rem;
    background-color: rgba(0, 0, 0, .1);
    border: solid rgba(0, 0, 0, .15);
    border-width: 1px 0;
    box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
  }
  
  .bi {
    vertical-align: -.125em;
    fill: currentColor;
  }

  .address li{
      list-style-type: none;
  }

  figure {
    display: block;
  }

  figure img {
    max-width: 100%;
  }

  .image{
    max-width: 25rem;
  }

  .imagepage{
    max-width: 50rem;
  }
  
  .btn{
    background-color: #23245d;
    border-color: #23245d;
    color: #D1D6D6;
  }

  .title{
    text-transform: uppercase;
  }

  .searchSection {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
  }

  .searchSection >* {
    flex-grow: 1;
    flex-basis: 0;
    padding: 1rem;
  }

  .card, .searchbox{
    border-color: #3d1704;
  }




  