<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <th:block th:include="fragments/layout :: head" />
    <title>Nora's Coffee Shop - Coffee Machines</title>
</head>

<body>
    <header th:replace="fragments/layout :: banner"></header>


    <section class="container">
        <h1>Coffee machines</h1>

        <div class="card" th:each="coffeemachine : ${coffeemachines}">
            <figure>
                <img
                    th:src="@{/product/{id}/image(id=${coffeemachine.id})}"
                    class="image"
                    alt="${coffeemachine.name}"
                />
            </figure>
            <div class="card-body">
                <h5 class="card-title" th:text="${coffeemachine.name}"></h5>
                <p>
                    <span class="card-text" th:text="${coffeemachine.price}"></span> €
                </p>
                <a
                th:href="@{/product/{id}(id=${coffeemachine.id})}"
                class="btn btn-primary"
                >Show more</a>
            </div>
        </div>
      </section>

    <footer th:replace="fragments/layout :: footer"></footer>
</body>

</html>