<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <th:block th:include="fragments/layout :: head" />
  <title>Nora's Coffeeshop - Edit Maker</title>
</head>

<body>
  <header th:replace="fragments/layout :: banner"></header>

  <section>
    <h1 th:text="'Edit by ' + ${maker.name}">name</h1>
    <article>
      <h2>The maker's current url</h2>
      <p th:text="${maker.url}"></p>
    </article>
    <form th:action="@{'/user/admin/maker/{id}'(id=${maker.id})}" method="post">
      <div class="form-floating">
        <input type="text" class="form-control" name="name" placeholder="the name of the maker" />
        <label for="floatingMakerName">The name on the maker</label>
      </div>
      <div class="form-floating">
        <input type="text" class="form-control" name="url" placeholder="maker url" />
        <label for="floatingUrl">Url format https://www.xx.xx</label>
      </div>
      <input type="submit" value="Add"></input>
    </form>
  </section>

  <footer th:replace="fragments/layout :: footer"></footer>
</body>

</html>