<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <th:block th:include="fragments/layout :: head" />
  <title>Nora's Coffeeshop - Makers</title>
</head>

<body>
  <header th:replace="fragments/layout :: banner"></header>

  <section class="getMakers">

    <h2>All makers</h2>

    <table>
      <thead>
        <tr>
          <th>name</th>
          <th>url</th>
          <th>edit</th>
          <th>remove</th>
        </tr>
      </thead>
      <tbody>
        <tr th:each="maker : ${makers}">
          <td th:text="${maker.name}">name</td>
          <td><a th:href="${maker.url}" th:text="${maker.url}"></a></td>
          <td><a th:href="@{'/user/admin/maker/{id}'(id=${maker.id})}"><i class="fa-solid fa-pen"></i></a></td>
          <td><a th:href="@{'/user/admin/maker/delete/{id}'(id=${maker.id})}"><i class="fa-solid fa-trash-can"></i></a>
          </td>
        </tr>
      </tbody>
    </table>
  </section>

  <section class="postMaker">

    <h2>Add a new maker</h2>

    <form th:action="@{/user/admin/maker}" method="post">
      <div class="form-floating">
        <input type="text" class="form-control" name="name" placeholder="the name of the maker" />
        <label for="floatingMakerName">The name on the maker</label>
      </div>
      <div class="form-floating">
        <input type="text" class="form-control" name="url" placeholder="maker url" />
        <label for="floatingUrl">Url format https://www.xx.xx</label>
      </div>
      <input type="submit" value="Add"></input>
    </form>
  </section>

  <footer th:replace="fragments/layout :: footer"></footer>
</body>

</html>