<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <th:block th:include="fragments/layout :: head" />
  <title>Nora's Coffee Shop - Edit Product</title>
</head>

<body>
  <header th:replace="fragments/layout :: banner"></header>

  <section>
    <h1 th:text="'Edit by ' + ${product.name}">name</h1>
    <article>
      <h2>The product's current description</h2>
      <p th:text="${product.description}"></p>
      <h2>The product's current price</h2>
      <p th:text="${product.price}"></p>
      <h2>The product's current department</h2>
      <!-- <p th:text="${product.department.name}"></p> -->

    </article>

    <form th:action="@{'/user/admin/product/update/{id}'(id=${product.id})}" method="post">

      <div class="form-floating">
        <input type="text" class="form-control" name="name" placeholder="The name of the product" />
        <label for="floatingProductName">The name of the product</label>
      </div>
      <div class="form-floating">
        <input type="text" class="form-control" name="description" placeholder="The description of the product" />
        <label for="floatingDescription">The description of the product</label>
      </div>
      <div class="form-floating">
        <input type="text" class="form-control" name="name" placeholder="The price of the product" />
        <label for="floatingPrice">The price of the product</label>
      </div>

      <input type="submit" value="Add"></input>
    </form>
  </section>

  <footer th:replace="fragments/layout :: footer"></footer>
</body>

</html>