<html xmlns="http://www.w3.org/1999/xhtml">

<head>
  <th:block th:include="fragments/layout :: head" />
  <title>Nora's Coffee Shop - Profile</title>
  <link rel="stylesheet" th:href="@{/css/form.css}">
</head>

<body>
  <header th:replace="fragments/layout :: banner"></header>

  <section class="user">
    <h1>Userpage</h1>
    <section>
      <div th:each="user: ${userdata}">
        <h1 th:text="${user.name}">user</h1>
      </div>
      <table>
        <tbody th:each="user: ${userdata}">
          <tr>
            <td>address</td>
            <td th:text="${user.address}">address</td>
          </tr>
          <tr>
            <td>phonenumber</td>
            <td th:text="${user.phonenumber}"></td>
          </tr>
          <tr>
            <td>email</td>
            <td th:text="${user.email}"></td>
          </tr>
          <tr>
            <td><a th:href="@{'/user/{id}'(id=${user.id})}"><i class="fa-solid fa-pen"></i></a>
              <a th:href="@{'/user/delete/{id}'(id=${user.id})}"><i class="fa-solid fa-trash-can"></i></a>
            </td>
          </tr>
        </tbody>
      </table>
    </section>
  </section>

  <section class="admin" sec:authorize="hasAuthority('ADMIN')">
      <h2>Only for admins</h2>

      <a th:href="@{/user/admin/supplier}">
        <h3>Supplier</h3>
      </a>
      <a th:href="@{/user/admin/maker}">
        <h3>Makers</h3>
      </a>
      <a th:href="@{/user/admin/product}"><h3>Products</h3></a>
  </section>

  <section>
    <form method="post" action="#" th:action="@{/logout}">
      <button class="form-button" type="submit">Logoff</button>
    </form>
  </section>

  <footer th:replace="fragments/layout :: footer"></footer>
</body>

</html>