<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <th:block th:include="fragments/layout :: head" />
    <title>Nora's Coffee Shop</title>
  </head>

  <body>
    <header th:replace="fragments/layout :: banner"></header>
    <section>
        <h1 th:text="${product.name}"></h1>
        <div class="card">
            <img
                th:src="@{/product/{id}/image(id=${product.id})}"
                class="image"
                alt="${product.name}"
            />
            <div class="card-body">
                <h5 class="card-title" th:text="${product.name}"></h5>
                <p>
                    <span class="card-text" th:text="${product.price}"></span> €
                </p>
            </div>
        </div>

    </section>
    <footer th:replace="fragments/layout :: footer"></footer>
  </body>
</html>
