<html xmlns="http://www.w3.org/1999/xhtml">

<head>
    <th:block th:include="fragments/layout :: head" />
    <title>Nora's Coffeeshop - Update User</title>
</head>

<body>
    <header th:replace="fragments/layout :: banner"></header>

    <section>
        <h1 th:text="'Edit by ' + ${user.name}">name</h1>
        <article>
            <h2>The user's current data</h2>
            <p th:text="${user.address}"></p>
            <p th:text="${user.phonenumber}"></p>
            <p th:text="${user.email}"></p>
        </article>

        <form th:action="@{'/user/{id}'(id=${user.id})}" method="post">
            <div class="form-floating">
                <input type="text" class="form-control" id="floatingFirstName" name="name"
                    placeholder="Your firstname lastname">
                <label for="floatingFirstName">First name</label>
            </div>
            <div class="form-floating">
                <input type="text" class="form-control" id="floatingStreet" name="address"
                    placeholder="Your street address (street postcode city)">
                <label for="floatingAndress">Address</label>
            </div>
            <div class="form-floating">
                <input type="text" class="form-control" id="floatingNumber" name="phonenumber"
                    placeholder="Your phonenumber">
                <label for="floatingPhonenumber">Phonenumber</label>
            </div>
            <div class="form-floating">
                <input type="email" class="form-control" id="floatingInput" name="email" placeholder="Your e-mail">
                <label for="floatingInput">Email address</label>
            </div>
            <input type="submit" value="Add"></input>
        </form>
    </section>

    <footer th:replace="fragments/layout :: footer"></footer>
</body>

</html>